@model IEnumerable<MVCProject1.Models.Leave5>

@{
    ViewData["Title"] = "Index";
}

<h1>Manager View</h1>

<p>
    @using (Html.BeginForm("Index", "Managers", FormMethod.Get))
    {
         <div style="display: none;"> @Html.RadioButton("searchBy", "ManagerID", true)</div>
        <div style="margin: 20px; font-weight: bold;">
        <text>Search by Manager ID : </text>
        @*@Html.RadioButton("searchBy", "EmpLevel", true)

        <text>Emp Level</text> <br />*@
        
        @Html.TextBox("search")

        <input type="submit" value="Search" /></div>
    }
</p>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmplLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavesInHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatus)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmplLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavesInHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStatus)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Lid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Lid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Lid">Delete</a>*@
                <div style="position: relative; width: 800px;">
                        <button style="background-color: green;"><a style="color: white;" asp-action="Edit" asp-route-id="@item.LeaveStatus">Approve</a></button>
                        <button style="background-color: red; color: white;"><a style="color: white;" asp-action="Edit" asp-route-id="@item.LeaveStatus">Deny</a></button>
                 </div>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a href="@Url.Action("index","Leave5")">Back to Home</a>
</p>
